.container {
  display: flex;
  flex-direction: column;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-basis: calc(100% / 4);
  margin: 20px 0;
}
